@use "base/variables" as v;
@use "base/mixins" as m;

.galeria{

    @include m.contenedor; 

    &-imagenes{
        @include m.grid(1, 2rem);
        
        @include m.telefono{
            @include m.grid(2, 2rem); 
        }

        @include m.tablet{
            @include m.grid(3, 2rem); 
        }

        @include m.pc{
            @include m.grid(4, 2rem);  
        }
 
        img{
            height: 20rem;
            object-fit: cover; // obliga a la imagen a cubrir todo el espacio
        }
    }
}

.modal{
    position: fixed;  //elementofijonosepuedemover
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
    display: grid;
    place-items: center;
    animation:faddeIn ease-in 0.5s ;

    &.fadde-out{
        animation:faddeOut ease-in 0.5s ;
    }

    img{
        max-width: 100rem;

    }  
} 

.btn-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer; 
    z-index: 2; 

    
    &:hover{
        animation: cerrar-btn ease 0.5s;
        width: 4.1rem;
        height: 4.1rem; 
    }
 
}

@keyframes faddeIn{
    0%{
       opacity: 0;
    }
 
    100%{
        opacity: 1;
    }   

}  

@keyframes faddeOut{ 
    0%{
       opacity: 1;
    }
 
    100%{
        opacity: 0; 
    }  

}     

@keyframes cerrar-btn{
    0%{
        width: 4.1rem;
        height: 4.1rem;
    }

    50%{
        width: 4.3rem;
        height: 4.3rem;
        background-color: rgb(247, 131, 151);
    }

    100%{
        width: 4.5rem;
        height: 4.5rem;
        background-color: red;
    } 

}
 